@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --neversink-title-font: 'IBM Plex Sans';
  --neversink-main-font: 'IBM Plex Sans';
}

.ns-c-cite {
  display: inline
}
